:root{
 
  --C:#B07C9B;
  --C2:#BCA2A4;
  --C3:#6DB390;
  --C4:#10484D;
  --C5:#9AE0E6;

}



*{
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}
.starter{
  padding-top: 8em !important;
}
/* --------------------------------------navbar */
nav {
  background-color: rgba(0, 0, 0, 0.438);
  animation: fading 2s ease;
}
@keyframes fading{
  from{background-color: #000;}
  to{
    background-color: #66666663 ;
  }
}


nav  *{
  color: white!important;    
}

nav a {
  color:white;
  padding: 1em 2em !important;
  transition: 0.4s;
}

nav .nav-link:hover{
  color: var(--C) !important;
  font-weight: 700 !important;
}
nav  .container-fluid {
  display: flex !important;
}
nav  .container-fluid .nav{
 justify-content: space-between !important;
}

.navbar__link--active{
  color: var(--C3);
  border-bottom: 1px solid var(--C);
}
/* --------home 
--land */


.land{
  background-color:rgba(0, 0, 0, 0.534);
  width: 100%;
  height: fit-content;
  padding-top: 8em !important;

}

.logo{
  width: 50% !important;
}

.logo-compo{
  width: 4vh !important;
}
.brand{
  font-size: 5em;
  color: var(--C5) !important;


}
.brand span{
  color: var(--C) !important;
}

.find{
  font-size: 3em;
  padding-left: 1em !important;
  text-align: center;
  color: white;
  
}
.welcome{
  font-size: 3em;
  padding-left: 1em !important;
  text-align: center;
  color: white;

  
}

.l-btn{
  width: 22vh; 
  height: 10vh;
  font-size: 5vh;

}

.arts{
  position: absolute;
  width: 100%;
  z-index: -1;
}
#art1,#art2,#art3, #art4,#art5,#art6,#art7{
  animation : crystal linear 2s infinite;
  width: 10vh;
}

@keyframes crystal{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}
#art1{
  animation-delay: 0.5s;
}
#art2{
  animation-delay: 1s;
}#art3{
  animation-delay: 1.5s;
}#art4{
  animation-delay: 1s;
}#art5{
  animation-delay: 0.5s;
}#art6{
  animation-delay: 0s;
}#art7{
  animation-delay: 0.5s;
}
.dropdown-menu {
  background-color: #10484D !important;
}
.dropdown-item:hover{
  color: black !important;
}


.btn-holder{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 25vh;
}

.ex-btn{
  width: 24vh;
    font-size: 2em;
}

.f-holder{
  display: flex;
  justify-content: center;
  align-items:center;
}

#new{
  background-color: var(--C);
}

.icon{
  width: 10vh;
}

.img-fluid{
  width: 90%;
  height: auto;
}

.head{
  font-size: 10vh;
}
.subtitle{
  font-size: 7vh; 
}

.d-new{
  color: black;
  font-size: 1em;
  padding-top: 2em !important;
}

.product-col{
  display: flex !important;
  justify-content: center ;
  align-items: center;
  padding: 4vh 8vh !important;
}

#some-products{
  background-color: white;
  height: 80vh;
}

.card{
  position: relative;
  background-image: url(images/product.jfif);
  background-size: cover;
  width: 240px;
  height: 300px;
  display: flex;
  align-items: baseline;
}

.card-info{
  width: 100%;
  height: 50%;
  align-items: baseline;
  background-color: var(--C2);
  position: absolute;
  top:50%;
  padding: 1em !important;
  opacity: 0;
  transition: 0.6s;

}

.card:hover .card-info{
  opacity: 1;
}

.btns-bar{
  display: flex !important;
  justify-content:center ;
  align-items: center;

}
.btns-bar i{
  font-size: 7vh;
  padding: 0 3vh !important;
  color: var(--C4);
  top: 50%;
  transition: 0.3s;
}

.btns-bar i:first-child:hover{
  color: white;
}

.btns-bar i:last-child:hover{
  color: red;
}

.btns-bar i:first-child:active{
  color: white;
  font-size: 10vh;
}

.btns-bar i:last-child:active{
  color: rgb(182, 70, 70);
  font-size: 10vh;
}

.btn{
  transition: 0.4s !important;
}

#vision{
  background-color: var(--C4);
}

#vision p , #vision .head ,#vision .subtitle{
  color: white;
}
.diagram-body h2{
  font-size: 3vh;
}
.diagram-body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
}

.idea-1{
  width: 60%;
    height: 60%;
    background: white;
    border-radius: 100%;
    padding: 1em !important;
    transform: translate(-30px,30px) !important;

}

.idea-2{
  width: 60%;
    height: 20%;
    background: white;
    border-radius: 100%;
    padding: 1em !important;
    transform: translate(90px,-10px) !important;

}

.idea-3{
  width: 60%;
    height: 20%;
    background: white;
    border-radius: 100%;
    padding: 1em !important;
    transform: translate(-50px,-20px) !important;

}

.arrow{
  font-size: 6vh;
  padding: 1em !important;
  color: white;
  
}

.arrow:first-child{
  transform: rotate(180deg) !important;
}
.ar-h{
  transform: rotate(40deg) !important;
}

.ar-h-2{
  transform: rotate(130deg) !important;
}

#ask{
  background-color: var(--C3);
}
#ask h3{
  font-weight: 700;

}

#ask .btn{
  width: 40vh;
}

.black-bg{
  width: 100%;
  height: 150vh;
  position: fixed;
  z-index: -3;
  top: 0%;
}

.card-form{
  width: 60vh;
  height: fit-content;
  border: 1px solid;
  border-radius: 20%;
  background-color: white;
}

.card-form .form-control:focus{
  border-bottom: 3px solid var(--C4);
  box-shadow: none !important;
  border-color: var(--C4) !important;
}
.card-form .form-control{
  padding: 5px !important;
  
}

footer{
  width: 100%;
  background-color: black;
}

footer ul{
  list-style: none;
}

footer li a{
  color: var(--C2) !important;
}

footer .social{
  background-color: #222;
  transition: 0.6s ;
pointer-events: none !important;
  position: relative;

}
footer .social i{
  color: var(--C2);
  padding: 0 8px !important;
  font-size: 6vh;
  transition: 0.4s;
  pointer-events: auto !important;

}

 /* .social:hover{
  background: linear-gradient(to right , #523fcf,#8130bc,#dd2056,#f6ba50) !important;
  color: white;
} */

footer a i:hover{
  color: white !important;
}
/* 
.social:hover{
  background-color:#1773ea ;
  color: white;
 
} */

footer .social .bxl-twitter:hover .social{
  background-color: #1c9cea;
  color: white;
}

footer .social .bxl-whatsapp-square:hover .social{
  background-color: #28cd46;
  color: white;
}

.f-link{
  font-size: 3vh;
  padding: 0.4em 0.6em !important;
}


/* ------------banner----------- */

.banner {
  width: 100%;
  height: 30%;

  z-index: 1;
  overflow: hidden;
  background-color: #d7d7d7;
}
.imgs-holder{
  display: flex;
  width: 100%;
  pointer-events: none !important;
  z-index: -2 !important;
  animation: slide 30s infinite  linear;
}

.img-show{
  width: 43vh;
  height: 43vh;
  transition: 0.4s;
  pointer-events: auto;
}
.img-show:hover{
  border: 1px solid;
  transform: scale(1.2);
}

@keyframes slide{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform:translateX(-100%);
  }
 
}

.imgs-holder:hover{
  animation-play-state: paused;
}

#g-form {
  margin-top: 8em !important;
  font-family: 'Tajawal', sans-serif;
}

.form-body{
  width: 90vw;
 
  padding: 0 1em !important;
}
#g-form .form-control{
  padding: 2vh 2vh !important;
  margin-top: 1em;
  width: 100% !important;

}
#g-form  .form-group{
  padding: 2vh 0 !important;
  margin: 1em !important;
  width: 90%;
}

.menu{
  color: white;
  width: 4vh;
}
.fcontrol{
  border: none;
  border-bottom: 1px solid var(--C);
  transition: 0.3s;
  padding: 0 1em !important;
}

.fcontrol:focus{
  border: none;
  outline: none;
  border-bottom: 2px solid var(--C);
}

.active{
  color: var(--C3);
  border-bottom: 1px solid var(--C);
}




#about .land{
  height: 100vh;
}

.story{
  margin-top: 7em !important;
}
.our-start{
  background-color: white;
  height: fit-content;
}

.cys{
  position: absolute;
  right: 5%
  ;width:30vh;
  height: 150vh !important;
  padding-top: 2em !important;
}

.para{
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  z-index: 2;
  position: relative;
}
.para h2{
  color: var(--C4);
}

.aa-1 , .aa-2{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 40vh;
}
.head{
  z-index: 1;
}

.member{
  border-left : 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

#team{
  background-color: white;
}

.member h2 i {
  font-size: 12vh;
}
.member .ang-1 , .member .ang-2{
  width: 20vh !important;
  position: absolute;
  top: 0;
  right: 0;
}

.member h3{
  color: var(--C4);
}

#vd-land{
  width: 100%;
  height: fit-content;
  background-color: #000;
}
.r-work .bov{
  width: 100%;
  height: 100%;
  z-index: 1;
 
 filter: blur(2);
  position: absolute;
  opacity: 0 !important;
  transition: 0.6s;
}

.r-work{
  width: 33vh;
  height: 33vh;
  background-size: cover;
  position: relative;

}
.r-work h2{
  opacity: 0;
  transition: 0.6s;
  z-index: 2;
  color: white;

}
.r-work:hover > h2 ,.r-work:hover  > .bov{
  opacity: 1 !important;
 

}

.r-work:hover > .bov{
  background-color: rgba(0, 0, 0, 0.548);
}

.r-work-1{
  background-image: url(images/p1.webp) !important;
}
.r-work-2{
  background-image: url(./images/p2.jpg) !important;
}
.r-work-3{
  background-image: url(./images/p3.jpg);
}
.r-work-4{
  background-image: url(./images/p4.jpg);
}
.r-work-5{
  background-image: url(./images/p5.webp);
}
.r-work-6{
  background-image: url(./images/p6.png);
}

#ready-d a{
  cursor: pointer;
}

.create-vector{
  width: 100%;
}
.start-d-btn{
  width: 33vh;
  height: 10vh;
  font-size: 6vh;
}

#create-design .f-holder{
  height: 100%;
}

#dash{
  height: 100vh;
  margin-top: 8em !important;
}

#Forms-design .btn-group .btn{
  width: 10vh;
}