:root{
  --main : #002029;
  --redocho : #ee2525;
  --blueocho : #02b0e2;
}

nav {
  background-color: rgba(102, 102, 102, 0.39);
}
nav  *{
  color: white!important;
}

nav a {
  color:white
}
nav  .container-fluid {
  display: flex !important;
}
nav  .container-fluid .nav{
 justify-content: space-between !important;
}

/* --------home 
--land */

.land{
  background-color: var(--main);
  width: 100%;
  height: fit-content;

}

.logo-holder{
  display: flex !important;
  justify-content: center;
  align-items: center;

}

.logo-land{
  width: 50vh;

}

.icons-holder{
  display: flex;
  justify-content: space-around;
}

.icon{
  background-color: white;
  width: 25vh;
  height: 25vh;
  border-radius: 100%;
  overflow: hidden !important ;
  margin:0.4em 2em;

}

.icons-holder .col{
  display: flex !important;
  justify-content: center;
}

.the-icon{
  width: 25vh;
}

.subtitle{
  font-size: 2em;
}

.icon-wrap{
  display: block !important;
}

.head{
  font-size: 8vh;
  
}

/* ----our services */
.card{
  width: 44vh;
}
.card-img-top{
  width: 100%;

}